
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-crema: #fcfaf7;
  --color-brand-rosa: #ff69b4;
  --color-brand-violeta: #b49eff;

  /* --font-heading: "League Gothic", sans-serif; */
  --font-hand: "Caveat", cursive;
  --font-sans: "Inter", sans-serif;
  --animate-marquee: marquee 30s linear infinite;
  
  --font-heading: "Hanken Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-hand: "Caveat", cursive;
  --section-mb-mobile: 60px;
  --section-mb-desktop: 280px;

  --section-pt-mobile: 40px;
  --section-pt-desktop: 100px;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
}