
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  /* Colores de tu marca */
  --color-brand-crema: #fcfaf7;
  --color-brand-rosa: #ff69b4;
  --color-brand-violeta: #b49eff;

  /* Tipografías: Asegúrate de que termine en -heading (singular) */
  /* --font-heading: "League Gothic", sans-serif; */
  --font-hand: "Caveat", cursive;
  --font-sans: "Inter", sans-serif;
  --animate-marquee: marquee 30s linear infinite;
  
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-hand: "Caveat", cursive;
  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
}